{% extends '../../../layouts/demo.twig' %}


{% block stylesheets %}
	<link rel="stylesheet" type="text/css" href="/css/views/examples/paprika/paprika.css">
{% endblock %}
{% block title %}
	<title>{{siteTitle}} | Paprika </title>
{% endblock %} 

{% block content %}

{% set tiles = 
	[{
		"img"      : 1,
		"title"    : "This is a tile",
		"caption"  : "The description of the awesome title goes here",
		"likes"    : 37,
		"shares"   : 14,
		"comments" : 3
	},{
		"img"      : 2,
		"title"    : "Second tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quidem optio quo accusantium nemo, ullam.",
		"likes"    : 67,
		"shares"   : 22,
		"comments" : 8
	},{
		"img"      : 7,
		"title"    : "Title for tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum error fugiat, quis.",
		"likes"    : 32,
		"shares"   : 12,
		"comments" : 3
	},{
		"img"      : 8,
		"title"    : "Yet another tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit labore quod, commodi modi.",
		"likes"    : 3,
		"shares"   : 2,
		"comments" : 1
	},{
		"img"      : 9,
		"title"    : "Lorem ipsum",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, voluptate temporibus sunt.",
		"likes"    : 12,
		"shares"   : 6,
		"comments" : 3
	},{
		"img"      : 10,
		"title"    : "Dolor sit",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, dolorum, nisi.",
		"likes"    : 24,
		"shares"   : 12,
		"comments" : 3
	},{
		"img"      : 3,
		"title"    : "Lorem ipsum",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus expedita tenetur ipsum!",
		"likes"    : 78,
		"shares"   : 14,
		"comments" : 13
	},{
		"img"      : 4,
		"title"    : "Title goes here",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aliquid aliquam doloribus sunt aperiam quibusdam, fugiat praesentium? Nemo.",
		"likes"    : 3,
		"shares"   : 10,
		"comments" : 2
	},{
		"img"      : 5,
		"title"    : "Lorem ipsum",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab iusto unde dolorem impedit repellendus.",
		"likes"    : 21,
		"shares"   : 15,
		"comments" : 2
	},{
		"img"      : 6,
		"title"    : "Aother tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima.",
		"likes"    : 12,
		"shares"   : 14,
		"comments" : 3
	},{
		"img"      : 11,
		"title"    : "Title",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, dolore.",
		"likes"    : 31,
		"shares"   : 14,
		"comments" : 3
	},{
		"img"      : 1,
		"title"    : "This is a tile",
		"caption"  : "The description of the awesome title goes here",
		"likes"    : 37,
		"shares"   : 14,
		"comments" : 3
	},{
		"img"      : 2,
		"title"    : "Second tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis quidem optio quo accusantium nemo, ullam.",
		"likes"    : 67,
		"shares"   : 22,
		"comments" : 8
	},{
		"img"      : 3,
		"title"    : "Lorem ipsum",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus expedita tenetur ipsum!",
		"likes"    : 78,
		"shares"   : 14,
		"comments" : 13
	},{
		"img"      : 4,
		"title"    : "Title goes here",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae aliquid aliquam doloribus sunt aperiam quibusdam, fugiat praesentium? Nemo.",
		"likes"    : 3,
		"shares"   : 10,
		"comments" : 2
	},{
		"img"      : 5,
		"title"    : "Lorem ipsum",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab iusto unde dolorem impedit repellendus.",
		"likes"    : 21,
		"shares"   : 15,
		"comments" : 2
	},{
		"img"      : 6,
		"title"    : "Aother tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima.",
		"likes"    : 12,
		"shares"   : 14,
		"comments" : 3
	},{
		"img"      : 7,
		"title"    : "Title for tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum error fugiat, quis.",
		"likes"    : 32,
		"shares"   : 12,
		"comments" : 3
	},{
		"img"      : 8,
		"title"    : "Yet another tile",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit labore quod, commodi modi.",
		"likes"    : 3,
		"shares"   : 2,
		"comments" : 1
	},{
		"img"      : 9,
		"title"    : "Lorem ipsum",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, voluptate temporibus sunt.",
		"likes"    : 12,
		"shares"   : 6,
		"comments" : 3
	},{
		"img"      : 10,
		"title"    : "Dolor sit",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, dolorum, nisi.",
		"likes"    : 24,
		"shares"   : 12,
		"comments" : 3
	},{
		"img"      : 11,
		"title"    : "Title",
		"caption"  : "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, dolore.",
		"likes"    : 31,
		"shares"   : 14,
		"comments" : 3
	}]
%}

<header class="banner">
	<div class="branding">
		<h1>Paprika</h1>
		<p class="strap">Modern inspiration hub</p>
	</div>
</header>

<section id="main">

	<div class="container">

		<div class="masonry">

			{% for tile in tiles %}
				<div class="masonry-item">

					<img src="/img/spices/{{tile.img}}.jpg" alt="Lorem ipsum">
					<h3>{{tile.title}}</h3>
					<p>{{tile.caption}}</p>

					<ul class="social">
						<li><i class="line-icon-heart"></i>{{tile.likes}}</li>
						<li><i class="line-icon-share"></i>{{tile.shares}}</li>
						<li><i class="line-icon-speech-bubble"></i>{{tile.comments}}</li>
					</ul>

				</div>
			{% endfor %}	

		</div>



	</div>

</section>

{% endblock %}