{% extends '../layouts/main.twig' %}
{% block title %}
	<title>{{siteTitle}}</title>
{% endblock %}

{% block content %}
{% set themes = 
	[{
		"img"  : "http://placehold.it/400x300",
		"name" : "Paprika",
		"desc" : "<p>An inspiration website template with a css masonry layout. This is a great example of <code><span class='inc'>@include</span> masonryColumns;</code> in action.</p>"
	},{
		"img"  : "http://placehold.it/400x300",
		"name" : "Saffron",
		"desc" : "A modern animated login form template built using animation presets and the <code><span class='inc'>@include</span> transfromKeyframes;</code> mixin."
	},{
		"img"  : "http://placehold.it/400x300",
		"name" : "Cinnamon",
		"desc" : "A chat application interface built to showcase the power of Spice's layout mixins and available glyphicons."
	}]
%}

<section class="stack" id="themed-examples">

	<div class="container">

		<h1>Themed examples</h1>

		<div class="grid-row">

			{% for theme in themes %}
				<div class="example gridded-list">
				
					<div class="image-holer">
						<img class="max" src="{{theme.img}}">
					</div>

					<div class="text-holder">
						
						<h3>{{theme.name}}</h3>
						<p>{{theme.desc | raw}}</p>
						<a href="/examples/{{theme.name | lower}}" class="button flat-secondary">View {{theme.name}}</a>

					</div>
					
				</div>
			{% endfor %}

		</div>

	</div>

</section>

<section class="stack" id="icons">
	
</section>

{% include '../components/footer/footer.twig' %}
{% endblock %}
{% block footerScript %}
	<script src="/js/react.min.js"></script>
	<script src="/js/examples.js"></script>
{% endblock %}